<div id="wrapper" class="divided">
    <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
            <h1>Welcome to Vudi</h1>
            <p class="major">This is my up-to-date food journey straight out of Japan. Updated by the Vudi app (Work in progress)</p>
<!--            <p>made by <a href="https://vuong.work">vuong.work</a></p>-->
        </div>
        <div class="image">
            <img src="{{bannerUrl}}" alt="" />
        </div>
    </section>

    <div class="gallery style1 medium lightbox onscroll-fade-in">
        {{#each foodList}}
        <article>
            <a href="{{imageUrl}}" target="_blank"  class="image">
                <img src="{{imageUrl}}" alt="Fooooood" />
            </a>
            <div class="caption">
                <h5>
                    {{#if rating}}
                        Rated: {{rating}}/100
                    {{else}}
                        Unrated
                    {{/if}}
                </h5>
                <p>on {{dateTime}}</p>
                {{#if latitude}}
                    <a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{latitude}}+{{longitude}}" class="button big wide smooth-scroll-middle">Location</a>
                {{/if}}
            </div>
        </article>
        {{/each}}
    </div>

    <footer class="wrapper style1 align-center">
        <div class="inner">
            <ul class="icons">
                <li><a target="_blank" href="https://www.instagram.com/vuongee/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/vuongp/" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="mailto:h.vuongpham@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p>Vudi preview 2025, Design: <a href="https://html5up.net" target="_blank" >HTML5 UP</a>.</p>
        </div>
    </footer>
</div>